<div class="grid grid-cols-3 gap-8">
  <app-product  [title]="'Produco 1'" [price]="100" [img]="'https://picsum.photos/640/640?r=1'" (addToCart)="fromChild($event)"/>
  <app-product  [title]="'Produco 2'" [price]="100" [img]="'https://picsum.photos/640/640?r=2'" (addToCart)="fromChild($event)"/>
  <app-product  [title]="'Produco 3'" [price]="100" [img]="'https://picsum.photos/640/640?r=3'" (addToCart)="fromChild($event)"/>
  <app-product  [title]="'Produco 4'" [price]="100" [img]="'https://picsum.photos/640/640?r=4'" (addToCart)="fromChild($event)"/>
  <app-product  [title]="'Produco 5'" [price]="100" [img]="'https://picsum.photos/640/640?r=5'" (addToCart)="fromChild($event)"/>
</div>
